h1 {
    color: lightpink;
    text-align: center;
    font-size: 200%;
    font-family: Gadugi;
}

p {
    color: cadetblue;
    padding-left: 600px;
    padding-right: 600px;
    text-align: center;
    font-size: 150%;
    font-family: Gadugi;
}

p1 {
    color: mediumvioletred;
    padding-left: 500px;
    padding-right: 500px;
    text-align: left;
    font-size: 150%;
    font-family: Gadugi;
}
