h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: darksalmon;
}

/*My Google Map*/

myGoogleMap {
   
    border: 1px solid #000000;
    width:500px; height:300px;
}

