h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: darksalmon;
}

 /*featured product*/
ul.featuredproduct li {
    float: left;
}

h4 {
    color: palevioletred;
}

p{
    color: palevioletred;
}