/*CSS for MENU*/ 

/*W3Schools 1999-2017*/      

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
    }

    li {
    float: right;
    }

    li a {
    display: inline-block;
    color: darkmagenta;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    li a:hover {
    background-color: white;
    }

/*CSS for FOOTER*/

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}